/* Add this to your index.css or App.css */
.color-empty {
    fill: #eeeeee;
  }
  
  .color-gitlab-1 {
    fill: #d6e685;
  }
  
  .color-gitlab-2 {
    fill: #8cc665;
  }
  
  .color-gitlab-3 {
    fill: #44a340;
  }
  
  .color-gitlab-4 {
    fill: #1e6823;
  }
  